<footer>
  <p>&copy; Name: Phan Tấn Cường          Student ID: 20110356</p>
  <a href="mailto:youremail@gmail.com">
    <img src="/mail.png" alt="Email"> 20110356@student.hcmute.edu.vn
  </a>
</footer>
